<h1 style="width:80%; margin-left: 10%; text-align:center; font-size:x-large;font-variant: small-caps;">{{title}}</h1>
<nz-card>
    <label><b> CourseName:</b></label>
    <input [(ngModel)]="addcourse.courseName" name="courseName" nz-input placeholder="courseName" nzSize="default" />
    <br>
    <br>
    <label><b> Course Weight</b></label>
    <input [(ngModel)]="addcourse.courseWeight" name="courseWeight" nz-input placeholder="courseWeight" nzSize="default" />
    <br>
    <br>
    <!-- <label><b> Select Student</b></label>
    <br>
    <nz-select  style="width:100% !important" nzPlaceHolder="Select a course" required>
                <nz-option  nzLabel="english" nzValue="english"></nz-option>
              </nz-select>

    <br>
    <br> -->

    <button (click)="AddCourse()" style="width: 60%; margin-left: 20%;" nz-button nzType="primary">{{changebuttonname}}</button>

    

  </nz-card>